@{
    ViewBag.Title = "Home Page";
}

@Styles.Render("~/css/style")
<div class="container">
    <div class="header">
        <img src="img/logo.png" class="logo" width="200" height="81" />
        <!-- end .header -->
    </div>
    <div class="content">
        <div class="login-area" align="center">
            <p><h2>歡迎來到 ibus 員工專區</h2></p>

            <div class="input" style="background-image:url(img/bg_account.png);">
                <label>
                    <input type="text" name="EmployeeNo" id="EmployeeNo" maxlength="10" class="input-field" placeholder="　員工編號" />
                </label>
            </div>
            <div class="input" style="background-image:url(img/bg_password.png);">
                <input type="password" name="Pwd" id="Pwd" maxlength="12" class="input-field" placeholder="　密　　碼" style="font:small-caption;" />
            </div>
            <div>
                <input type="submit" name="check" value="登　　入" onClick="vbscript:checkdata()" class="btn" />
                <input type="reset" name="cancel" value="重新填寫" onClick="vbscript:focusto()" class="btn" />
            </div>
            <div class="notice">
                <ul>
                    <li>性騷擾申訴專線：<a href="tel:07-3424281">(07)342-4281</a></li>
                    <li>員工申訴、投訴、建議專線：<a href="tel:07-3424281">(07)342-4281</a></li>
                </ul>
            </div>
            <div class="copyright">2014 &copy; ibus union All Rights Reserved.</div>
        </div><!-- end .content -->
    </div><!-- end .container -->
</div>